body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

main {
    display: grid;
    grid-template-rows: 1fr ;
    margin: 10px;
  }

  header{
    background-color: #0074d9;
  }

  footer{
    text-align: center;
    background-color: #333;
    padding: 15px;
  }

  ul li::marker {
    content: '';
  }
 
  ul li{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  header{
    text-align: center;
    padding: 25px;
  }